.hero__avatar {
    width: 362px;
    height: 362px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    box-shadow: 0 0 0 11px #fff;
    background-color: #fff;
    pointer-events: none;
}