.hero__job {
    margin: 0;
    padding-bottom: 13px;
    font-family: 'Roboto', Helvetica, sans-serif;;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    color: #FFBB01;
}