.portfolio__project-name {
    margin: 0;
    max-width: 170px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
    padding-top: 172px;
    padding-left: 30px;

}