.button_place_footer {
    padding: 25px 0;
    transition: .2s ease-in-out;
}

.button_place_footer:hover {
    text-shadow: 1px 0 8px #fff;
    background-color: #141F35;
    color: #fff;
    box-shadow: 0 4px #1B2944;
}
